<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kelfinanzas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KELFinanzas">

        <activity android:name=".grafica" android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".MainActivity" android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity android:name=".ver_gastos" android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".ver_ingreso" android:theme="@style/Theme.Design.Light.NoActionBar" />

        <activity
            android:name=".noexitoso_registro"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".exitoso_registro"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".gastos"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ingresos"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".balance_general"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".login"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".primera_pantalla"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".toolbar"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".datos_perfil"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".registro"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>